<% PublicLibrary.all.each do |publicLibrary| %>
    <p>
        <%= publicLibrary.id %></br>
        <%= publicLibrary.name %></br>
        <%= publicLibrary.address %></br>
        
        
    </p>
<% end %>